.Title {
  font-size: 5vw;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: black;
}
.Main2{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Card2{
  width: 528px;
  height: 352px;
  margin: 70px 140px -0px 140px;
}
.CardContent{
  padding: 40px 100px 40px 100px;
}

.Card1 p {
  font-size: 1vw;
  margin-top: 8%;
  text-align: justify; 
  color: black;
}
.Card span{
  color: white;
}
.CardContent2 img {
  width:170%;
  height:25vw;
  margin-top: -0rem;
  margin-left: -8.4rem;
}

@media(max-width: 600px){
  .Main2{
    display: none;
  }
  .Title{
    font-size: 8vw;
  }
}

