.Header h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 6.4vw;
  color: gray;
}
.Prime{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Card2{
  width: 528px;
  height: 352px;
  margin: 40px 140px 40px 140px;
}
.CardInside{
  padding: 40px 100px 40px 110px;
}
img{
  margin-top: -5.25rem;
}
h2{
  margin-top: -3rem;
  margin-left: 8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: grey;
}
.Card p {
  font-size: 1.2vw;
  margin-top: 1rem;
  text-align: justify; 
  color: grey;
  
}
.Card span{
  color: white;
}
.CardInside1 img {
  width:170%;
  height:25vw;
  margin-top: -0rem;
  margin-left: -8rem;
}
