li{
    list-style: none;
    margin: 0 2vw;
    font-size: 3vh;
}
a{
    text-decoration: none;
    padding: 2vw;
}
a:hover{
    background-color: #c6e9ff;
}
nav{
    width: 100vw;
    background-color:inherit;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
body{
    margin: 0;
}



@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }
  }
  
  button{
    display: none;
    background-color: inherit;
  }

   
    @media only screen and (max-width: 500px) {
       
       button{
         /*makes the button visible*/
         display: block;
         
         /*since we are here, we can style it a little bit!*/
         padding: 2vw;
         font-size: 3vh;
         background-color: #AFE0FF;
         border: none;
         
         /*outline none removes the default blue border that appears anytime you click on the button*/
         outline: none;
         
         cursor: pointer;
       }
     }

     button{
        display: block;
    
        cursor: pointer;
        
        /*this put the button on the left*/
        align-self: flex-start;
      }