h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: grey;
}
.Main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Card{
  width: 528px;
  height: 352px;
  border: 3px solid grey;
  margin: 40px 140px 40px 140px;
}
.CardInside{
  padding: 40px 80px 40px 40px;
}
img{
  margin-top: -5.25rem;
}
h2{
  margin-top: -3rem;
  margin-left: 8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: grey;
}
.Card p{
  margin-top: 1rem;
  text-align: justify; 
  color: grey;
}
.Card span{
  color: white;
}