.Tittle{
  font-size: 5vw;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: grey;
}
.Main{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}
.Card{
  width: 50%;
  height: 20vw;
  border: 3px solid black;
  margin: 4% 8% 4% 8%;
  background-color: white;
}
.Card:hover{
  transform: scale(1.02);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.CardInside{
  padding: 7% 20% 10% 10%;
}
.Main img{
  margin-top: -30%;
  max-width: 40%;
}
.Main h2{
  font-size: 1.6vw;
  margin-top: -15%;
  margin-left: 40%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: grey;
}
.Card p{
  font-size: 1vw;
  margin-top: 8%;
  text-align: justify; 
  color: grey;
}


@media(max-width: 1000px){
  .Card {
    border: 2px solid grey;
  }
  .Card:hover{
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
}
@media(max-width: 600px){
  .Main{
    display: none;
  }
  .Tittle{
    font-size: 8vw;
  }
}
@media(min-width: 601px){
  .Mainx{
    display: none;
  }
}


.Mainx{
  width: 100%;
}
.Cardx{
  width: 60%;
  height: 30vw;
  border: 1px solid grey;
  margin: 35px auto 30px;
}
.Cardx:hover{
  transform: scale(1.015);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.CardInsidex{
  padding: -0% 10% 10% 10%;
}
.Mainx img{
  margin-top: -20px;
  max-width: 30%;
}
.Mainx h2{
  font-size: 3vw;
  margin-top: -18.5%;
  margin-left: 40%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: grey;
}
.Cardx p{
  font-size: 2vw;
  margin-top: 8%;
  text-align: justify; 
  color: grey;
}