h1{
  font-size: 5vw;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: grey;
}
.Main{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}
.Card{
  width: 50%;
  height: 20vw;
  border: 3px solid grey;
  margin: 4% 8% 4% 8%;
}
.CardInside{
  padding: 7% 20% 10% 10%;
}
img{
  margin-top: -30%;
  max-width: 40%;
}
h2{
  font-size: 1.6vw;
  margin-top: -15%;
  margin-left: 40%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: grey;
}
@media(max-width:500px){
  h2{
    margin-top: -25%;
  }
}
.Card p{
  font-size: 1vw;
  margin-top: 8%;
  text-align: justify; 
  color: grey;
}
@media(max-width:500px){
  .Card p{
    margin-top: 15%;
  }
}